@if (User.Identity.IsAuthenticated)
{
  <details>
    <summary>My Account</summary>
    <p>@Html.ActionLink("Account Page", "Index", "Account")</p>
    <button>@Html.ActionLink("Logout", "Logout", "Account")</button>
  </details>
}
else
{
  <button>@Html.ActionLink("Register", "Register", "Account")</button>
  <button>@Html.ActionLink("Login", "Login", "Account")</button>
}